

html{
 
  background-color: black;
  display: flex;
  width:100% ;
}
.parent{
  /* display: grid; */
  /* grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); */
  gap: 20px;
  width: 100%;
  padding: 20px;
  display: flex;
  
}
.card{
  background-color: #fff;
  width: 250px;
  height: 280px;
  color: black;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.card .top{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.card .top img{
  
  height: 35px;
  width: 40px;
 
  border-radius: 50%;
  border: 1px solid #dadada;
  padding: 2px;

  
}
.card .top button{
  display: flex;
  align-items: center;
  font-size: 10px;
  margin-right: 10px;
  border-radius: 5px;
  gap: 5px;
  background-color: transparent;
  border: 1px solid #dadada;

}
.card .top button img{
    height: 15px;
    width: 15px;
 }
 .card .center{
  margin-left: 10px;
 }
 .card.center h3{
  font-size: 20px;
  font-weight: 500;
}
 .card.center h4{
  font-size: 20px;
  font-weight: 400;
}
.center span{
  font-weight: 300;
  font-size: 10px;
}
.center .tag{
  padding-left: 10px;
  display: flex;
  gap: 20px;
  margin-bottom: 10px;
}
.bottom{
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top:1.5px solid #bbb;
  padding: 10px;
}
.bottom p{
  font-size: 13px;
}
.bottom p span{
  font-size: 9px;
  display: block;
}
.bottom button{
 background-color: black;
 color: white;
 padding: 5px 10px;
 margin-right: 10px;
 border: none;
 border-radius: 5px;
 column-width: 500;

}